@{ 
    //recording current page title
    ViewBag.Title = "Home Page";
}

<h1>My World</h1>
<p>
    Here i will publish my CV and make this website look luxurious.
</p>
<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div> <input type="submit" value="Add" /></div>
</form>